<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
<context-param>
  <param-name>contextConfigLocation</param-name>
  <param-value>applicationContext.xml</param-value>
</context-param>
<!--
<listener>
<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
</listener>-->
<listener>
<listener-class>org.com.Lisiner.LeadquiezsLisener</listener-class>
</listener>
<servlet>
    <servlet-name>userController</servlet-name>
    <servlet-class>org.com.leadquiezs.Controller.UserController</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>userController</servlet-name>
    <url-pattern>/addUser</url-pattern>
</servlet-mapping>
<servlet-mapping>
    <servlet-name>userController</servlet-name>
    <url-pattern>/login</url-pattern>
</servlet-mapping>
<servlet-mapping>
    <servlet-name>userController</servlet-name>
    <url-pattern>/findname</url-pattern>
</servlet-mapping>


<servlet>
    <servlet-name>quiezController</servlet-name>
    <servlet-class>org.com.leadquiezs.Controller.QuiezController</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>quiezController</servlet-name>
    <url-pattern>/addQuiez</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>questionController</servlet-name>
    <servlet-class>org.com.leadquiezs.Controller.QuestionController</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>questionController</servlet-name>
    <url-pattern>/addQuestion</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>outComeController</servlet-name>
    <servlet-class>org.com.leadquiezs.Controller.OutComeController</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>outComeController</servlet-name>
    <url-pattern>/addOutCome</url-pattern>
</servlet-mapping>

</web-app>
